<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Project</title>
    <style>
        *{
            
            margin-top: 2px;
        }
        .box{
            border: 2px solid black;
            border-radius: 10px;
            display: flex;

        }
        .box_header{
            background-color: black;
            border: 2px solid black;
            border-radius: 10px;
            display: flex;
            color: white;
        }
        .navbar{
            text-align: center;
            background-color: blueviolet;
        }
        footer{
            background-color: black;
            color: white;
            width: 100%;
            height: 200px;
            padding: 40px;

        }
        .item{
            padding-left: 280px;
        }
        .box:hover{
            background-color: lightblue;
        }
        .login_container{
            border: 2px solid black;
            height: 800px;
            border-color: blue;
            text-align: center;
        }
        .headline_login{
            font-size: 50px;
            color: lightcoral;

        }
        #username,#password,#vacancy{
            height: 50px;
            width: 60%;
            text-align: center;
            border-radius: 15px;
            font-size: large;
        }
        label{
            font-size: large;
        }
        .hospital_container{
            height: 650px;
        }
        button{
            border-radius: 2px;
            height: 50px;
            width: 100px;
            border-radius: 15px;
            background-color: orange
        }
        button:hover{
            background-color: yellow;

        }
    </style>
</head>
<body>
    <h1 class="navbar"> Navbar</h1>
    <br><br><br><br>
    <div class="hospital_container">
        <div class="box_header">
            <h4 style="padding-left: 4rem;">Sr no.</h4>
            <h4 class="item">Hospital Name</h4>
            <h4 class="item">Id</h4>
            <h4 class="item">Vacancy</h4>
            <h4 class="item">Contact</h4>
            
    
        </div>
        <br><br><br>
        <% for(var i=0; i<value.length; i++) {%>
            <div class="box">
                <h4 style="padding-left: 4rem;"><%=i+1%>.</h4>
                <h4 class="item"><%=value[i].name%></h4>
                <h4 class="item"><%=value[i].application_id%></h4>
                <h4 class="item"><%=value[i].vacancy%></h4>
                <h4 class="item"><%=value[i].contact%></h4>
                
    
            </div>
            <br><br><br>
            
         <% } %>

    </div>

     <div class="login_container">
        <form  method="get|post" action="/getemail">
            
            <h1 class="headline_login">Login Form</h1>
            <br><br>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><b>Username</b></label>
              <br><br>
              <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
              <br><br>
              
            </div>
            <div class="mb-3">
                <br>
              <label for="exampleInputPassword1" class="form-label"><b>Password</b></label><br><br>
              <input type="text" class="form-control" id="password" name="password"><br><br>
              
            </div>
            <div class="mb-3">
                <br>
              <label for="exampleInputPassword1" class="form-label"><b>Vacancy</b></label><br><br>
              <input type="text" class="form-control" id="vacancy" name="vacancy"><br><br>
              
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Submit</button>
    
            
    
          </form>
     </div>
     <br><br><br><br>
     <footer>
        <p>this is footer</p>
     </footer>
</body>
</html>